/* 
 * Add your own CSS code for the WYSIWYG editor 
 */

body#tinymce {
    max-width: 800px;
}
/*
.msg--highlight {
  background: #123456;
  border-color: #e7b600;
}
.msg--info {
  background: #123456;
  border-color: #e7b600;
}
*/